# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
vitest.log*

# Coverage
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 